<app-navigation></app-navigation>
<div style="padding-top: 10%;  background-color: antiquewhite;  min-height: 500px;">
<div class="container">
  <h2 style="padding-left: 50px;">{{ mainTitle }}</h2>
  <h3>{{ secTitle }}</h3>
  <a href="index.html" style="color: #130534; padding-left: 150px; font-weight: bold;">Log in</a><br><br>
  <button (click)="show = !show">SHOW</button>
  <button (click)="duplicate()">PUSH ME</button>
  <input type="text" (change)="parentValue = $event.target.value">
  <app-check-hook *ngIf="show" [value]="parentValue"></app-check-hook>
</div>
</div>
